	#README#
	#Rate_Fitter.sbatch#
	30SimsOutputs/
	50SIMS/
	Chi2Debug.py
	Chi2Plot.png
	Chi2Plot_Cheat.png
	Chi2Plot_CheatType.png
	Chi2Plot_CheatTypeZ.png
	Chi2Plot_CheatZ.png
	Chi2Test.png
	Classification.tar.gz
	Combine100Sims.sh
	Combined100Sims.fitres
	Combined100Sims2Beta.fitres
	CorrectAnSN.sbatch
	CutEfficiency.py
	DES3YR_DES_CHANGEME.FITRES.TEXT
	DES3YR_DES_CHANGEME.ROOT
	DESY123_SpecIa.tab
	DES_BASE_FIT.nml
	DES_BASE_SIM.input
	DES_BASE_SIM.input~
	DES_BIASCOR_FIT.nml
	DES_SIM_FIT_Contam_Base.nml
	DES_SIM_FIT_Contam_Datalike.nml
	DES_SIM_FIT_Contam_Datasize.nml
	DES_SIM_FIT_Contam_Datasize_Beta22.nml
	DES_SIM_FIT_Contam_Datasize_Beta23.nml
	DES_Y3A2_allBand.fits
	DES_Y3A2_inBand.fits
	DONTUSETHESEINPUTS/
	ExtremeRateTests.tar.gz
	FITOPT000_SALT2mu.LOG
	FakeCat.txt
	FakeCatalogMaker.py
	FakeDataCat_001.txt
	FakeGenCat.txt
	FakeSimCat.txt
	GenRateInputs.bash
	GenRateInputs.py
	GraveyardRateFitter.py
	InputsBeforeAutogeneration/
	MJD_SimObs_Dist.png
	MJD_Sim_Dist.png
	MLApply_Test.out
	MLOutputs/
	MNFIT_PKMJD.LOG
	MURES_Distro.png
	MakeNMLs.py
	MakeSimgens.py
	NN_Apply.LOG
	NN_Apply.sbatch
	NN_Apply.sh
	OldRateTests.sbatch
	OldSimgenMaster/
	PhotoZTesting.py
	PhotoZVsTrueZDistro.png
	PhotoZVsTrueZDistro_PERFECT.png
	PhotoZVsTrueZDistro_Rick.png
	PhotoZVsTrueZScatter.png
	PhotoZVsTrueZScatter_PERFECT.png
	PhotoZVsTrueZScatter_Rick.png
	PlotRedshiftDistro.py
	PlotRedshiftDistro.sh
	README
	README~
	REAL_Reader.py
	REAL_Reader.pyc
	RICK_SIMGEN_DES_NON1ASED.input
	RICK_SIMGEN_DES_SALT2.input
	RICK_SNFIT_TEST.NML
	RateFitter.out
	RateFitter11.out
	RateFitter12.out
	RateFitter13.out
	RateFitter14.out
	RateFitter15.out
	RateFitter16.out
	RateFitter17.out
	RateFitter18.out
	RateFitter19.out
	RateFitter20.out
	RateFitter21.out
	RateFitter22.out
	RateFitter23.out
	RateFitter24.out
	RateFitter25.out
	RateFitter26.out
	RateFitter27.out
	RateFitter28.out
	RateFitter29.out
	RateFitter30.out
	RateOutput100Sims2BetaSameKContamNNCut.out
	RateOutput100Sims2BetaSameKContamNNCut_CheatType.out
	RateOutput100Sims2BetaSameKContamNNCut_CheatTypeZ.out
	RateOutput100Sims2BetaSameKContamNNCut_CheatZ.out
	RateOutput100SimsBeta22SameKContamNNCut.out
	RateOutput100SimsBeta22SameKContamNNCut_CheatType.out
	RateOutput100SimsBeta22SameKContamNNCut_CheatTypeZ.out
	RateOutput100SimsBeta22SameKContamNNCut_CheatZ.out
	RateOutput100SimsBeta23SameKContamNNCut.out
	RateOutput100SimsBeta23SameKContamNNCut_CheatType.out
	RateOutput100SimsBeta23SameKContamNNCut_CheatTypeZ.out
	RateOutput100SimsBeta23SameKContamNNCut_CheatZ.out
	RateOutput100SimsCombinedSameBetaSameKContamNNCut_CheatType.out
	RateOutput100SimsCombinedSameBetaSameKContamNNCut_CheatTypeZ.out
	RateOutput100SimsCombinedSameBetaSameKContamNNCut_CheatZ.out
	RateOutput100SimsCombinedSameBetaSameKContamNNCut_NoCheat.out
	RateOutput100SimsSameBetaSameKContamNNCut.out
	RateOutput100SimsSameBetaSameKContamNNCut_CheatType.out
	RateOutput100SimsSameBetaSameKContamNNCut_CheatTypeZ.out
	RateOutput100SimsSameBetaSameKContamNNCut_CheatZ.out
	RateOutputFakeCatalogs.out
	RateOutputFakeCatalogs_CheatType.out
	RateOutputFakeCatalogs_CheatTypeZ.out
	RateOutputFakeCatalogs_CheatZ.out
	RateOutputsNormalMCErr/
	RateOutputsZeroMCErr/
	Rate_Fitter.sbatch
	SALT2Cuts/
	SALT2_Batch_Script.sbatch
	SALT2mu_DES.input
	SALT2mu_NN_All.LOG
	SIMGEN_DES_NONIA.input
	SIMGEN_MASTER_4Datasize.INPUT
	SIMGEN_MASTER_Biascor.INPUT
	SIMGEN_MASTER_Contam_Base.INPUT
	SIMGEN_MASTER_Contam_Datalike.INPUT
	SIMGEN_MASTER_Contam_Datasize.INPUT
	SIMGEN_MASTER_Contam_Datasize_Beta22.INPUT
	SIMGEN_MASTER_Contam_Datasize_Beta23.INPUT
	SIMLOGS_DES/
	SIMLOGS_DES_Datalike/
	SIMLOGS_DES_Datalike_01Contam/
	SIMLOGS_DES_Datalike_Contam/
	SIMLOGS_DES_Datasize/
	SIMLOGS_DES_Datasize_01Contam/
	SIMLOGS_DES_Datasize_2Contam/
	SIMLOGS_DES_Datasize_Contam/
	SIMLOGS_DES_Datasize_Contam_Beta22/
	SIMLOGS_DES_Datasize_Contam_Beta23/
	SNANA_Reader.py
	SNANA_Reader.pyc
	SNFIT_SIM.NML
	SNFIT_SIM.NML~
	SNFIT_SIM_DataLike.NML
	SNFIT_SIM_Perfect.NML
	SimDataComp2BetaSameK_SIM_ZCMB.png
	SimDataComp2BetaSameK_zPHOT.png
	SimDataCompG10SKDistro_MURES.png
	SimDataCompG10SKDistro_SIM_ZCMB.png
	SimDataCompG10SKDistro_zHD.png
	SimDataCompG10SKDistro_zHD_SNRMAX1.png
	SimDataCompG10SKDistro_zPHOT.png
	SimDataCompG10SKDistro_z_00_03_MURES.png
	SimDataCompG10SKDistro_z_03_06_MURES.png
	SimDataCompG10SKDistro_z_06_09_MURES.png
	SimDataCompG10SKDistro_z_09_15_MURES.png
	SimDataCompSameBetaSameK_SIM_ZCMB.png
	SimDataCompSameBetaSameK_zPHOT.png
	SimDataPlot.py
	SimZPHOT.tar.gz
	SimZPHOT/
	SystematicsInputFiles.tar.gz
	TESTCID.LIST
	TarContents
	Test2K2Beta.tar.gz
	TestClassifier.py
	TestSameKSameBeta/
	TruePerfectSims.tar.gz
	UnusedPartsOfRateFitter.py
	efficiencyMatrix.png
	efficiencyMatrixLog.png
	outFit_biascor/
	outFit_data/
	outFit_datalike/
	outFit_datalike_01Contam/
	outFit_datalike_Contam/
	outFit_datasize/
	outFit_datasize_02Contam/
	outFit_datasize_Contam/
	outFit_datasize_Contam_Beta22/
	outFit_datasize_Contam_Beta23/
	redshiftDistro.png
	test.py
	testRate.py
	unknownSimulations.tar.gz
	zDistro.png
	zDistro2DPurity.png
	zDistro2DPurity_Biascor.png
	zDistroPurity.png
	zDistroPurity_Biascor.png
	zDistroPurity_NN.png
	zDistro_Biascor.png
	zDistro_FITPROB_01Cut.png
	zDistro_FITPROB_01Cut_2DPurity.png
	zDistro_FITPROB_01Cut_Purity.png
	zDistro_NN.png
	zDistro_PERFECT.png
	zDistro_PERFECT_FITPROB_01Cut.png
	zDistro_PERFECT_FITPROB_01Cut_Purity.png
	zDistro_PERFECT_Purity.png
	zDistro_Rick_NN00.png
	zDistro_Rick_NN00_2DPurity.png
	zDistro_Rick_NN00_Purity.png
